.van-nav-bar__content {
  background-color: #1989fa;
}
.van-nav-bar__title {
  color: #fff;
  max-width: 60%;
  margin: 0 auto;
  font-weight: 500;
  font-size: 0.42667rem;
}
.van-nav-bar .van-icon {
  color: #fff;
}
